.card{
    position: relative;
    background-color: #252532;
    border-radius: 0.8rem;
    padding: 1.2rem 2.4rem;
    width: 80%;
    margin-top: 1.2rem; 
}
.card .card-update .checkbox{
    margin-right: 0.8rem;
}
.card .card-content .card-delete .delete-icon:hover{
    color: #e06666;
}
.card .card-content .card-update{
    width: 50%;
}
.card .card-content .save-button button{
    padding: 0.8rem 1.2rem;;
}
.card .card-content .date{
    position: absolute;
    bottom: 0rem;
    right: 0.8rem;
}