.modal-back{
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: #343450d9;
}
.modal-back .modal{
    background-color: #252532;
    width: 28rem;
    height: 25.2rem;   
    margin-top: 2.4rem;
    border-radius: 1.2rem;
    border: 2px solid #525252;
}
.modal-back .modal > *{
    margin-bottom: 1.2rem;
}
.modal-back .modal .title{
    width: 86%;
}
.modal-back .modal .title input{
    background-color: #252532;
    border: 1px solid #525252;
    border-radius: 0.8rem;
    width: 68%;
    padding: 0.4rem 0.8rem;
}
.modal-back .modal .dropdown{
    width: 88%;
}
.modal-back .modal .dropdown select{
    width: 100%;
    background-color: #252532;
    border: 1px solid #525252;
    border-radius: 0.8rem;
    padding: 0.4rem 0.8rem;
}
.modal-back .modal  button{
    padding: 0.8rem 1.2rem;
}
.modal .date-time button{
    color: #a3a3a3;
}
.modal .date-time svg{
    stroke: #a3a3a3;
}