.navbar{
    height: 4rem;
    width: 100%;
    background-color: #252532;
    padding: 1.2rem 2.4rem;
    position: fixed;
    box-shadow: 1px 7px 17px 10px rgb(9 9 9);
    box-sizing: border-box;
}
  
  